<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
               http://www.springframework.org/schema/mvc  
               http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
               http://www.springframework.org/schema/context 
               http://www.springframework.org/schema/context/spring-context.xsd">	

	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springdemo" />
		<property name="username" value="root" />
		<property name="password" value="vineetachau" />
	</bean>
	<bean class="org.springframework.jdbc.core.JdbcTemplate"
		name="jdbcTemplate">
		<property name="dataSource">
			<ref bean="ds" />
		</property>
	</bean>
	<!-- <bean class="org.springframework.jdbc.core.JdbcTemplate" name="jdbcTemplate" 
		p:dataSource-ref="ds" /> -->
		
	<bean class="com.demo.dao.UserDAOImpl" name="userDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean class="com.demo.dao.EmployeeDAOImpl" name="empDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
</beans>